<nav class="navbari">
    <div id="navlogo">
        <a href="#"><img src="/images/logo.png" id="logo" alt=""></a>
    </div>
    <div class="navi-button">
        <form action="/" method="get">
            <button class="custom-btn btn-11">
                Home
            </button>
        </form>
        <form action="/donate" method="get">
            <button class="custom-btn btn-11">
                Donate
            </button>
        </form>
        <form action="/login" method="get">
            <button class="custom-btn btn-11">
                NGO Login
            </button>
        </form>
    </div>
</nav>
