<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>donateAtMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/aboutus.css" rel="stylesheet">
    <link href="stylesheets/navbar.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <div class="section-title">
            <h1>Our Team Page</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="images/sid.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Siddhant <br> Baheti</h2>
                        <h3>CEO & Founder</h3>
                        <p>Handling all the work as well as other teammates as his babies :)</p>
                        <h4>bahetisid06@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://www.instagram.com/sid_0610/" class="social-in"><img src="/images/insta.jpg" class="i"> <i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/0610sid" class="social-gh"><img src="/images/github.png" class="i"> <i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="images/raunak.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Raunak Singh Kalsi</h2>
                        <h3>Technological Head</h3>
                        <p>The man who fixed all the errors which no one in team could</p>
                        <h4>rskalsi39@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://www.instagram.com/raunak.it.is/" class="social-in"> <img src="/images/insta.jpg" class="i"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/code-wizard123" class="social-gh"> <img src="/images/github.png" class="i"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="images/sru.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Srushti<br> Gaidhane</h2>
                        <h3>Design Head</h3>
                        <p>Being the only girl she ought to look out for all the creative work </p>
                        <h4>srgaidhane_b21@it.vjti.ac.in</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://www.instagram.com/srushti_023/" class="social-in"><img src="/images/insta.jpg" class="i"> <i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/SrushtiGaidhane" class="social-gh"><img src="/images/github.png" class="i"> <i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="images/aryaan.jpeg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Aryaan<br> Pandhare</h2>
                        <h3>Data Analyst</h3>
                        <p>If something is wrong with the data you know whom to contact </p>
                        <h4>aryaanpandhare10@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://www.instagram.com/aryaan29503__/" class="social-in"><img src="/images/insta.jpg" class="i"> <i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/aryaan10" class="social-gh"> <img src="/images/github.png" class="i"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

</html>