<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donateAtMe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav id="navbar">
            <div id="navlogo">
                <a href="#"><img src="images/logo.png" id="logo" alt=""></a>
            </div>
            <div id="navbari">
                <form action="/donate" method="get">
                    <button class="custom-btn btn-11" formaction="/login">NGO Login</button>
                    <button class="custom-btn btn-11 hidden" id="donatebtn">Donate</button>
                </form>
            </div>
        </nav>
    </header>
    
    <div id="bharwala">
        <div class="row" id="xyz">
            <div class="col" id="imgdiv">
            </div>
            <div id="wlcmdiv">
                <h1 class="wltxt">Welcome to DonateAtMe!<br></h1>
                <h2 class="welctxt1">
                    We appreciate the efforts you wish to take to help the needy...<br>
                        We hope we can find the right NGO as per your requirements
                </h2>
                <div>
                    <form action="/donate" method="get">
                        <button class="dbtn">DONATE</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="imgkeup">
            <div id="imgtxt">
                <div class="infodiv">
                    <h1 class="welctxt">What is DonateAtMe?</h1>
                    <h3>
                        <p class="welctxt1">There are thousands of NGOs that are doing the noble work of helping the
                            underprivileged and the needy
                            They require all the help that we can provide may it be as trivial as old unused notebooks
                            some clothes and we too wish to donate but we are unaware of the NGOs that might require our
                            help…<br>
                            DonateAtMe is a website that has been implemented to bridge the gap between the donor and
                            the NGO
                        </p>
                    </h3>
                </div>
                <div class="row" id="abtdiv">
                    <form action="/aboutus" method="get">
                        <button id="abtusbtn">About Us</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="bharwala2">
        <div id="imgoffset">
            <div class="slideshow-container">
                <div class="mySlides fade img1slideshow">
                </div>
                <div class="mySlides fade img2slideshow">
                </div>
                <div class="mySlides fade img3slideshow">
                </div>
            </div>
        </div>
        <div id="offset">
            <h1 id="stxt">Here are some numbers to help you get an idea of the importance of your contribution:</h1>
            <p id="spara">Total number of NGOs in Mumbai city: 500+</p>
            <p id="spara">Number of pincodes covered by our site: 105 +</p>
            <p id="spara">Number of NGOs affiliated to DonateAtMe: 300+ </p>
            <p id="spara">Total Donors benefitted by our site: 100 and counting</p>
        </div>
    </div>
    <script src="javascripts/home.js"></script>
</body>

</html>