#nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 10%;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: end;
    margin-top: 0.5%;
    margin-right: 1.5%;
}

body {
    max-height: 100%;
    margin: 0;
    background-color: transparent
}

#logo {
    height: 60px;
    width: 60px;
    margin: 3px 0px 0px 5px;
}

button {
    padding: 8px 8px 8px 8px;
    margin: 8px 5px 5px 5px;
    background-color: black;
    font-size: 16px;
    border-color: #ffca99;
    align-items: flex-end;
    color: #ffca99;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: 'lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background:  #fcd8ff;
}

a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #736d6d;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1::before {
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    bottom: -5px;

}

.container .section-title h1::before {
    left: 30%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.team .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
}

.team .team-img img {
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px black;
}

.team .team-content {
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: black;
    border-radius: 10px;
    width: 110%;
}

.team .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 0;
}

.team .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.team .team-social {
    position: absolute;
    margin-left: 6%;
    margin-top: 58%;
    width: 98%;
    height: 63%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(10, 10, 10);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
    border-radius: 4%;
}

.team:hover .team-social {
    opacity: 1;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}

.team .team-social a:last-child {
    margin-right: 0;
}

.team:hover .team-social a {
    margin-top: 0;
}

.i {
    border-radius: 22%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .column {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .column {
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .column {
        max-width: 25%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

}