/* Codepen Specific */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}



body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #fcd8ff, #e6aeeb);
}

.navbar {
  font-family: "poppins";
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding-left:70%;
}

.navbar div{
  position: relative;
}

.nav-button {
  display: flex;
  margin-right: 30px;
  height: 85px;
  justify-content: space-around;
  align-items: center;
  width: 28%;
}
.custom-btn {
  margin: 20px;
  outline: none;
  color: white;
  text-align: center;
  width: 130px;
  height: 40px;
  padding: 2px 25px;
  border: 1px solid white;
  font-family: "poppins";
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: white;
  color: black;
}

.btn-11:before {
  z-index: -1;
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: black;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(0, 0, 0, 0.2),
    inset 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}


input[type="text"],
textarea,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="date"] {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  color: #555;
  background-color: #f1f1f1;
  border: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

input[type="text"],
textarea,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="date"],
.material.woocommerce-page[data-form-style="default"] input#coupon_code {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0);
}

/* /end Codepen Specific */
/* Ladder Navigation */
#leaderboard {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ladder-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #01081f;
  padding: 10px 25px;
  border-radius: 10px 10px 0px 0px;
}

.ladder-title {
  flex: 2;
}

.ladder-search {
  flex: 1;
  padding-right: 25px;
}

.ladder-title {
  font-size: 20px;
  color: #888dff;
  font-weight: bold;
  text-transform: uppercase;
}

.ladder-search input {
  color: white;
}

.ladder-search input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #888dff;
}

.ladder-search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #888dff;
}

.ladder-search input:-ms-input-placeholder {
  /* IE 10+ */
  color: #888dff;
}

.ladder-search input:-moz-placeholder {
  /* Firefox 18- */
  color: #888dff;
}

/* /end Ladder Navigation */
/* Leaderboard Results */
.leaderboard-results {
  background-color: #01081f;
  text-align: left;
  border-collapse: collapse;
}

.leaderboard-results thead th {
  background: transparent;
  padding: 25px;
  color: #747474;
  font-size: 18px;
  font-weight: bold;
}

.leaderboard-results tbody td {
  padding: 15px 25px;
  background: transparent;
  font-size: 16px;
  border-bottom: 5px solid #232323;
}

.leaderboard-results tbody tr:hover td {
  background: #1d1d1d;
}

.leaderboard-results tbody tr:nth-last-of-type(1) td{
  border-bottom: none;
}

.leaderboard-results tbody tr{
  color: #686ef9;
}

.leaderboard-results tbody span {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 50%;
}

.leaderboard-results tbody tr:first-child span {
  background: #5055cb;
  color: white;
}

.leaderboard-results tbody tr span {
  background: #262626;
  color: #747474;
}

#search-leaderboard {
  border-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid;
}

.submit-button {
  background-color: #01081f;
  color: white;
  height: 2rem;
  width: 5rem;
  font-size: large;
  border-color: white;
  border-radius: 3px;
  border-width: 1px;
}

.hidden {
  display: none;
}

.container-wrap{
  margin-top: 70px;
}

#rankings{
  border-radius: 0px 0px 10px 10px;
}

.ladder-nav{
  width: 100%;
}

#rankings{
  width: 100%;
}

#rankings thead th:nth-of-type(1){
  width: 15%;
}

#rankings thead th:nth-of-type(2){
  width: 10%;
}

#rankings thead th:nth-of-type(3){
  width: 15%;
}

#rankings thead th:nth-of-type(4){
  width: 20%;
}

#rankings thead th:nth-of-type(5){
  width: 10%;
}

#rankings thead th:nth-of-type(6){
  width: 10%;
}

#rankings thead th:nth-of-type(7){
  width: 10%;
}

#rankings thead th:nth-of-type(8){
  width: 10%;
}

#rankings tbody td:nth-of-type(1){
  width: 15%;
}

#rankings tbody td:nth-of-type(2){
  width: 10%;
}

#rankings tbody td:nth-of-type(3){
  width: 15%;
}

#rankings tbody td:nth-of-type(4){
  width: 20%;
}

#rankings tbody td:nth-of-type(5){
  width: 10%;
}

#rankings tbody td:nth-of-type(6){
  width: 10%;
}

#rankings tbody td:nth-of-type(7){
  width: 10%;
}

#rankings tbody td:nth-of-type(8){
  width: 10%;
}

#rankings tbody,thead{
  text-align: center;
}